{% extends 'recipes/base.html' %}

{% block content %}

    <div class="recipe row">
        <div class="col content">
            <h2>{{ recipe.title }}</h2>
            <p>{{ recipe.description|linebreaksbr }}</p>
            {% for item in recipe.ingredients.all %}
            <p class="ingridients"><b>{{item.name}}</b> {{item.quantity}}</p>
            {% endfor %}
            <p>{{recipe.preparation}}</p>
        </div>
        <div class="col image"><img src="{{recipe.photo.url}}"></div>

    </div>

{% endblock %}
